// variable
$primary: #b71c1c;
$secondary: #f05545;
$dark: #7f0000;

.card {
  width: 30%;
  height: 500px;
  border: 1px solid #ccc;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  img {
    border-radius: 10px;
    padding: 5px;
    width: 300px;
    height: 300px;
    display: block;
    margin: 20px;
  }

  h1 {
    color: $dark;
    font-size: 25px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    button {
      background-color: $primary;
      width: 80px;
      border: none;
      border-radius: 5px;
      margin: 5px;
      padding: 5px;
      color: white;
      &:active {
        background-color: $dark;
      }
    }
  }
}
