// variable
$black: #393939;
$red: #e62429;

.search-box {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  input {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: none;
    border: 1px solid #ccc;
    &::placeholder{
      color: #ccc;
      padding-left: 5px;
    }
  }
  button {
    background-color: $red;
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 5px;
    width: 80px;
    font-weight: bold;
    text-transform: uppercase;

    &:active {
      background-color: $black;
    }
  }

  
}
.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  margin-left: 30px;
  margin-top: 30px;
}

.side-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 30px;
  margin-top: 30px;
  border-radius:5px;

  h1 {
    padding-top: 10px;
    color: $black;
    size: 25px;
  }


  .sidebar-team {
    display: flex;
    align-items: center;
    margin-top: 10px;
    border: 1px solid #ccc;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    img {
      width: 90px;
      height: auto;
      border-radius: 10px;
      padding: 5px;
      margin-bottom: 0;
    }

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      &:hover span {
        color: $red;
        display: inline;
      }
    }

    h1 {
      font-size: 20px;
      margin-left: 30px;
      color: $black;
      padding: 0;
    }

    span {
      font-size: 30px;
      text-align: right;
      margin-right: 30px;
      display: none;
    }
  }
}
