// variable
$primary: #b71c1c;
$secondary: #f05545;
$dark: #7f0000;

.search-box {
  display: flex;
  margin-top: 30px;
  margin-left: 50px;
  input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    border: 1px solid #ccc;
  }
  button {
    background-color: $primary;
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 5px;
    width: 80px;

    &:active {
      background-color: $dark;
    }
  }
}
.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;
}

.side-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 30px;
  margin-top: 30px;
  h1 {
    color: $dark;
    size: 25px;
  }

  .sidebar-team {
    display: flex;
    align-items: center;
    margin-top: 30px;
    border: 1px solid #ccc;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    img {
      width: 100px;
      height: 100px;
      border-radius: 10px;
      padding: 5px;
    }

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      &:hover span {
        color: $dark;
        display: inline;
      }
    }

    h1 {
      font-size: 20px;
      margin-left: 30px;
      color: $dark;
    }

    span {
      font-size: 36px;
      text-align: right;
      margin-right: 30px;
      color: $dark;
      display: none;
    }
  }
}
